<!-- BEGIN: main -->
<div id="editar">

    <div align="justify"><p class="titulo">{title}</p></div>

    <!-- BEGIN: msg -->
    <div class="ui-state-error ui-corner-all" style="margin-top: 10px; padding: 6pt .7em;">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			{msg}
        </p>
    </div>
    <br />
    <!-- END: msg -->

    <form name='forgotpassword' id='forgotpassword' action='{WEB_PATH}{forgot_password_action}' method='post'>

        <table>
            <tr>
                <td colspan="2">
                        {txt_forgot_password}
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td width="30%" align="right">{txt_email} *:</td>
                <td align="left">
                    <input type='text' name='ds_email' id='ds_email' value='{ds_email}'  size='40' required/>
                </td>
            </tr>
        </table>

        <br />
        <p style="text-align:center; padding-right:5px; ">
            <button class='submit' class="forgot_password" type='submit' name='submit' value='{btn_reset_password}'>{btn_reset_password}</button>
        </p>
    </form>
    <div class="camposRequeridos">(*) {txt_required_fields}</div>
</div>
<!-- END: main -->