<!-- BEGIN: main -->
<div id="editar">
	<div align="justify"><p class="titulo">{titulo}</p></div>

	<!-- BEGIN: msj -->
	<div class="ui-state-error ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
		<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			{msj}
		</p>
	</div>
	<br />
	<!-- END: msj -->

	<form name='cambiarclave' id='cambiarclave' action='doAction?action=cambiar_clave' method='post' onsubmit="return validate('cambiarclave');">
	
		<table>
			<tr>
				<td align="right">Contrase&ntilde;a actual(*):</td>
				<td align="left">
					<input type='password' name='clave_actual' id='clave_actual'  size='25'
					 jVal="{valid:function (val) { return requerido(val,'Ingrese la Contrase&ntilde;a actual'); }}"/>
				</td>
			</tr>
			<tr>
				<td align="right">Nueva Contrase&ntilde;a (*):</td>
				<td align="left">
					<input type='password' name='ds_password' id='ds_password'  size='25'
					jVal="{valid:function (val) { return requerido(val,'Ingrese la nueva Contrase&ntilde;a'); }}"/>
				</td>
			</tr>
		
			<tr>
				<td align="right">RepetirNueva Contrase&ntilde;a (*):</td>
				<td align="left">
					<input type='password' name='pass2' id='pass2'  size='25'
					jVal="{valid:function (val) { if ( val != eval('$(\'#ds_password\').val()') ) return false; else return true; }, message:'Las nuevas contrase&ntilde;as no coinciden'}"
					/>
				</td>
			</tr>
		
		</table>
	
		<p style="text-align:center">
		<input type='submit' name='submit' value='Modificar'/>
		<input type='reset' name='cancelar' value='Cancelar' onclick="javascript:history.back(-1);"/>
		</p>
	</form>	
	<div class="camposRequeridos">(*) Campos requeridos</div>	
</div>
<!-- END: main -->