<!-- BEGIN:main -->
<div class="divver">
    <div align="justify"><p class="titulo">{title}</p></div>
    <table class="tablaVer">
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_user_label} :</strong></p></td>
            <td><p>{cd_user}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_username_label} :</strong></p></td>
            <td><p>{ds_username}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_name_label} :</strong></p></td>
            <td><p>{ds_name}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_email_label} :</strong></p></td>
            <td><p>{ds_email}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_usergroup_label} :</strong></p></td>
            <td><p>{cd_usergroup}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_phone_label} :</strong></p></td>
            <td><p>{ds_phone}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_address_label} :</strong></p></td>
            <td><p>{ds_address}</p></td>
        </tr>
        <tr>
            <td style="width:85px;"><p><strong>{ds_ips_label} :</strong></p></td>
            <td><p>{ds_ips}</p></td>
        </tr>
        
    </table>
</div>
<!-- END:main -->
