<!-- BEGIN:main -->
<div class="divver" style="width: 50%;margin: 0 auto;">
    <div align="justify"><p class="titulo">{title}</p></div>
    
	<div id="layout_info" class="ui-state-highlight ui-corner-all" style="margin: 10px;padding: 6pt .7em;"> 
			<p>
				<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				<span id="layout_info_message">{msg_new_user_password}</span>
			</p>
	</div>
			    
    <table class="tablaVer">
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_user_label} :</strong></p></td>
            <td><p>{cd_user}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_username_label} :</strong></p></td>
            <td><p>{ds_username}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_name_label} :</strong></p></td>
            <td><p>{ds_name}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_email_label} :</strong></p></td>
            <td><p>{ds_email}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_password_label} :</strong></p></td>
            <td><p>{ds_password}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_usergroup_label} :</strong></p></td>
            <td><p>{cd_usergroup}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_phone_label} :</strong></p></td>
            <td><p>{ds_phone}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_address_label} :</strong></p></td>
            <td><p>{ds_address}</p></td>
        </tr>
        
    </table>
    <p style="text-align:center">
			<input type='reset' name='{lbl_back}' value='{lbl_back}' onclick="javascript:window.location.href= 'doAction?action=list_cdtusers';"/>
	</p>
</div>
<!-- END:main -->
