<!-- BEGIN: main -->
<div class="logindiv">
	<div class="logo-name">
		<h1>{login_title}</h1>
		<h2>{login_subtitle}</h2>		
	</div>
	
	<form id = "loginform" name = "loginform" action='doAction?action=login' method='post'>
		<fieldset>

		<div class="row">
			<label for="username" class="username"></label>
			<input type="text" class="text" name="username" value="{username}"  id="username"/>
		</div>

		<div class="row">
			<label for="password" class="pass"></label>

			<input type="password" class="text" name="password" id="password" />
		</div>


		<div class="row">
			<button type="submit" class="loginbutn" title="sing in" onfocus="this.blur();"></button>
		</div>
		</fieldset>
		<input type="hidden" name="backTo" value="{backTo}" />
	</form>

	
	<!-- BEGIN: block1 -->
	<div class="msjerror">
		 {msg}<br />
	</div>
	<!-- END: block1 -->
</div>		
<!-- END: main -->