<!-- BEGIN:main -->
<script nonce="tu_nonce_generado">
    $(function() {
        $("#{input_id}").datepicker({
        	 changeMonth: {changeMonth},
        	 changeYear: {changeYear},
        	 numberOfMonths: {numberOfMonths},
        	 defaultDate: "{defaultDate}",
			<!-- BEGIN: minRange -->
         	 onClose: function( selectedDate ) {
					$( "#{idMax}" ).datepicker( "option", "minDate", selectedDate );
				},
			<!-- END: minRange --> 
			<!-- BEGIN: maxRange -->
         	 onClose: function( selectedDate ) {
					$( "#{idMin}" ).datepicker( "option", "minDate", selectedDate );
				},
			<!-- END: minRange --> 
            dateFormat: '{format}'
        });
    });


</script>

<input type='text'  {custom} <!-- BEGIN: property --> {name}="{value}" <!-- END: property -->
 
 <!-- BEGIN:required -->
 <!--jVal="{valid:function (val) { return required(val,'{msg_required}'); }}"-->
 <!-- END:required -->

 /> 
<!-- END:main -->