<!-- BEGIN:main -->
<div class="divver">
    <div align="justify"><p class="titulo">{title}</p></div>
    <table class="tablaVer">
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_menugroup_label} :</strong></p></td>
            <td><p>{cd_menugroup}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{nu_order_label} :</strong></p></td>
            <td><p>{nu_order}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{nu_width_label} :</strong></p></td>
            <td><p>{nu_width}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_name_label} :</strong></p></td>
            <td><p>{ds_name}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_action_label} :</strong></p></td>
            <td><p>{ds_action}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_cssclass_label} :</strong></p></td>
            <td><p>{ds_cssclass}</p></td>
        </tr>
        
    </table>
</div>
<!-- END:main -->
