<!-- BEGIN: main -->
<!-- FOOTER-->
<footer>
    <h2>Desarrollado por <span class="bold-text"><a href="http://secyt.presi.unlp.edu.ar/" target="_blank" class="a_sin_formato">SECRETARIA DE CIENCIA Y TÉCNICA UNLP</a></span> </h2>
    <div class="fin-footer">
        <div class="contacto">
            <h4>Contacto</h4>
            <a href="mailto:categorizacion1@presi.unlp.edu.ar"><img src="{WEB_PATH}css/smile/images/mail.png" alt="mail"></a>
            <a class="reglamento" href="./css/smile/images/Reglamento SICADI.pdf" target="_blank">Reglamento</a>
            <a class="reglamento" href="./css/smile/images/Reglamento SICADI.pdf" target="_blank">Instructivo</a>
            <a class="reglamento" href="./css/smile/images/Reglamento SICADI.pdf" target="_blank">Reglamento</a>
        </div>
        <div class="redes">   <!-- Linkearlo con su respectiva red social-->
            <!--<img src="{WEB_PATH}css/smile/images/fb.png" alt="facebook">-->
            <a class="reglamento" href="https://twitter.com/secytunlp" target="_blank"><img src="{WEB_PATH}css/smile/images/tw.png" alt="Twitter"></a>
            <a class="reglamento" href="https://www.youtube.com/@cienciaytecnicaunlp" target="_blank"><img src="{WEB_PATH}css/smile/images/yt.png" alt="youtube"></a>
            <a class="reglamento" href="https://www.instagram.com/secytunlp/" target="_blank"><img src="{WEB_PATH}css/smile/images/ig.png" alt="instagram"></a>
            <!--<img src="{WEB_PATH}css/smile/images/lkn.png" alt="linkedin">-->
        </div>
    </div>
</footer>
<!-- END: main -->