<!-- BEGIN:main -->

<header>
    <div class="logo-container">
        <img src="{WEB_PATH}css/smile/images/logo.png" alt="logo" width="280" height="80">
    </div>
    <div class="iconos-menu">

        <!-- BEGIN: dock -->
        <div id="menuflotante">
            <div class="dock" id="dock" >
                <div class="dock-container" style="display:flex;">
                    <!-- BEGIN: menu_lateral -->
                    <a  title="{action_description}" class="dock-item" href="{href}"><img src="css/images/{css_class}_48.png" alt="{action_description}" title="{action_description}" /></a>
                    <!-- END: menu_lateral -->
                </div>
            </div>
        </div>
        <!-- END: dock -->



    </div>
    <div class="iconos-menu">

        <!-- BEGIN: menu_superior_derecha -->
        <a href="doAction?action={action}"><img src="{WEB_PATH}css/smile/images/{css_class}.png" alt="{action_description}" title="{action_description}" width="40" height="40"></a>
        <!-- END: menu_superior_derecha -->

        <a href="doAction?action=exit"><img src="{WEB_PATH}css/smile/images/logout.png" alt="{exit} {user}" title="{exit} {user}" width="40" height="40"><span></span></a>

    </div>

</header>
<!-- END: main -->