<!-- BEGIN: main -->
<style>

body{
 background: none;
}

.jfVal, .jValSpacercover {
    display: none;
}

</style>
<script nonce="tu_nonce_generado" type="text/javascript">
$(document).ready(function() {
  $("#buttonCancelar").on("click", function() {
    window.location.href = 'doAction?action=login_init';
  });
});
</script>
<!-- BEGIN: msg_error -->
<script nonce="tu_nonce_generado" type="text/javascript">
	showMessageError('{msg}', true);
</script>
<!-- END: msg_error -->
<div class="sicadi">
	<img src="{WEB_PATH}css/smile/images/sicadi.png" alt="SICADI" width="330" height="110">
</div>

<div class="containerLogin">

	<!-- BEGIN: msg_error -->
	<script type="text/javascript">
		showMessageError('{msg}', false);
	</script>
	<!-- END: msg_error -->

	<form name='forgotpassword' id='forgotpassword' action='{WEB_PATH}{forgot_password_action}' method='post'>
	<input type="hidden" name="csrf_token" value="{csrf_token}">
<h4>{txt_forgot_password}</h4>
		<div class="form-row">
			<label class="labelLogin" for="{txt_email}">{txt_email}</label>

			<input required type='text' class="inputLogin" name='ds_email' id='ds_email' value='{ds_email}' required />
			<div class="obligatorioLogin">
				<h3>*</h3>
			</div>
		</div>

		<div class="campos-requeridos">
			<h3>(*) CAMPOS REQUERIDOS </h3>
		</div>
		<div class="flex">
			<div class="form-leftLogin">



			</div>
			<div class="form-rightLogin">

				<button value="{btn_reset_password}" type="submit" id="ingresar">{btn_reset_password}</button>
				<button id="buttonCancelar" value="{btn_cancel_label}" type="button">Cancelar</button>
			</div>
		</div>
	</form>



</div>

<!-- END: main -->