<!-- BEGIN: main -->
<style>

body{
 background: none;
}

.jfVal, .jValSpacercover {
    display: none;
}

</style>
<script nonce="tu_nonce_generado" type="text/javascript">
$(document).ready(function() {
  $("#ingresar").on("click", function() {
    window.location.href = 'doAction?action=login_init';
  });
});
</script>
<div class="sicadi">
	<img src="{WEB_PATH}css/smile/images/sicadi.png" alt="SICADI" width="330" height="110">
</div>

<div class="containerLogin">

	<!-- BEGIN: msg_error -->
	<script type="text/javascript">
		showMessageError('{msg}', false);
	</script>
	<!-- END: msg_error -->


	<h4>{message}	</h4>

	<div class="flex">
		<div class="form-leftLogin">



		</div>
		<div class="form-rightLogin">
			<button id="ingresar" value="{btn_ingresar}" type="button">{btn_ingresar}</button>

		</div>
	</div>




</div>
<!-- END: main -->