<!-- BEGIN:main -->
<div class="divver">
    <div align="justify"><p class="titulo">{title}</p></div>
    <table class="tablaVer">
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_function_label} :</strong></p></td>
            <td><p>{cd_function}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_function_label} :</strong></p></td>
            <td><p>{ds_function}</p></td>
        </tr>
        
    </table>
</div>
<!-- END:main -->
