<!-- BEGIN:main -->


<script language="javascript" src="{WEB_PATH}js/autocomplete/simpleAutoComplete.js"></script>
<link rel="stylesheet" href="{WEB_PATH}css/autocomplete/simpleAutoComplete.css" type="text/css" />


<script type="text/javascript">
function cdtusergroup_change(attr){
	
}
</script>

<script type="text/javascript">
function cdtfunction_change(attr){
	
}
</script>



<div id="editar">
	<div align="justify"><p class="titulo">{title}</p></div>

	<!-- BEGIN:msg -->
	<div class="ui-state-error ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
		<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			{msg}
		</p>
	</div>
	<br />
	<!-- END:msg -->

	<form name='editCdtUserGroupFunction' id='editCdtUserGroupFunction' action='doAction?action={submit}' method='post' onsubmit="return validate('editCdtUserGroupFunction');">
		
		<table>
			<tr>
				<td align="right">{cd_usergroup_function_label}:</td>
				<td align="left">
					{cd_usergroup_function}
					<input type="hidden" readonly name="cd_usergroup_function" id="cd_usergroup_function" value="{cd_usergroup_function}"/>
				</td>
			</tr>
			
			
			
			
						
			<tr>
				<td align="right">{cd_usergroup_label} {cd_usergroup_required}</td>
				<td align="left">
					{CdtUserGroup_find}
				</td>
			</tr>
						
			<tr>
				<td align="right">{cd_function_label} {cd_function_required}</td>
				<td align="left">
					{CdtFunction_find}
				</td>
			</tr>
			
		</table>
		
		<p style="text-align:center">
			<input type='submit' name='{lbl_save}' value='{lbl_save}'/>
			<input type='reset' name='{lbl_cancel}' value='{lbl_cancel}' onclick="javascript:window.location.href= 'doAction?action=list_cdtusergroupfunctions';"/>
		</p>
		
		
	</form>		
	<div class="camposRequeridos">(*) {msg_required_fields}</div>
</div>
<!-- END:main -->
